/*------------- Breakpoints mixin*/
/*------------- Heading mixins*/
/*------------- Flexbox mixins*/
/*------------- Flexbox center mixin*/
/*---------------Mixins for transforms, transitions and animations*/
/*Mixin for animation on contact page*/
/*Mixin for hide & show*/
header {
  background: white;
  position: fixed;
  width: 100%;
  height: 2.4em;
  z-index: 1000;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between; }
  header nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: flex-end;
    width: 70%; }
    header nav a {
      margin: 0.2em 3% 0 3%;
      color: #292D3F;
      font-size: 1.5em; }

#title {
  margin: 0.2em 0 0 2.2%;
  font-size: 2em;
  color: #292D3F; }

.form-section {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  width: 98%; }

.search-form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  height: auto;
  margin: 0 0 0 1em;
  background: white;
  width: 20%; }
  .search-form button {
    height: 2em;
    width: 30%;
    font-size: 1.2rem;
    color: white;
    background: #292D3F;
    border: 0;
    margin: 0 0 0 0; }
  .search-form label {
    color: #292D3F;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    margin-top: 0.8em; }
  .search-form input {
    background: none;
    border-style: dashed;
    width: 100%;
    height: 2rem;
    font-size: 1.2rem;
    color: #292D3F; }
    .search-form input.year-input {
      width: 100%; }

select {
  height: 2rem;
  width: 100%;
  border-radius: 0;
  border: none;
  background-color: #292D3F;
  color: white;
  overflow: hidden !important;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0; }

.select-div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  height: 20em;
  width: 100%; }

.form-module {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start; }

.form-module.middle-module {
  width: 70%; }

.select-wrapper {
  width: 30.33%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.year-input {
  width: 100%; }

.search-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  width: 100%; }

.form-module.search-module {
  width: 100%; }

body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: white;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }

a {
  text-decoration: none;
  font-family: 'Nothing You Could Do', cursive;
  letter-spacing: 0.09em; }

h1, h2, h3, #title {
  font-family: 'Nothing You Could Do', cursive;
  letter-spacing: 0.09em; }

p, label, h4 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.09em; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

main {
  width: 96%;
  height: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }

.hero-section {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  background: url("../images/bakgrund.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 860px;
  min-width: 70em; }

.hero-img {
  width: 100%;
  height: auto; }

.list-wrapper {
  width: 98%;
  height: auto;
  background: white;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  border: 1em solid #292D3F; }

.list-section {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 80%;
  min-height: 30em;
  background: white; }

.main-figure {
  width: 50%; }
  .main-figure img {
    width: 100%; }

.landing-h1 {
  opacity: 0;
  font-size: 3em;
  color: white;
  animation-delay: 2.6s;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  /* forward prevents the animation from restarting! */
  -moz-animation-name: fade;
  -moz-animation-duration: 2s;
  -moz-animation-fill-mode: forwards;
  -moz-animation-iteration-count: 1;
  -ms-animation-name: fade;
  -ms-animation-duration: 2s;
  -ms-animation-fill-mode: forwards;
  -ms-animation-iteration-count: 1;
  -o-animation-name: fade;
  -o-animation-duration: 2s;
  -o-animation-fill-mode: forwards;
  -o-animation-iteration-count: 1;
  animation-name: fade;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease; }

.landing-h1.showroom-h1 {
  font-size: 6em;
  animation-delay: 2s;
  color: coral;
  margin: -1em 0 0 0; }

.landing-h1.browse-h1 {
  font-size: 2.2em;
  color: #292D3F;
  animation-delay: 2.8s; }

.list-figure {
  height: auto;
  width: 26%;
  background: white; }
  .list-figure h4 {
    font-size: 1.3em; }
  .list-figure h4 {
    font-style: italic;
    margin: 0.5em 0 0 0; }
  .list-figure img {
    height: auto;
    width: 100%;
    max-width: 100%;
    margin: 0em;
    background-size: contain; }

@-webkit-keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-ms-keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
    display: flex; }
  to {
    opacity: 0;
    display: none; } }
@-moz-keyframes fade-out {
  from {
    opacity: 1;
    display: flex; }
  to {
    opacity: 0;
    display: none; } }
@-ms-keyframes fade-out {
  from {
    opacity: 1;
    display: flex; }
  to {
    opacity: 0;
    display: none; } }
@-o-keyframes fade-out {
  from {
    opacity: 1;
    display: flex; }
  to {
    opacity: 0;
    display: none; } }
@keyframes fade-out {
  from {
    opacity: 1;
    display: flex; }
  to {
    opacity: 0;
    display: none; } }

/*# sourceMappingURL=main.css.map */
