/*------------- Breakpoints mixin*/
/*------------- Heading mixins*/
/*------------- Flexbox mixins*/
/*------------- Flexbox center mixin*/
/*---------------Mixins for transforms, transitions and animations*/
/*Mixin for animation on contact page*/
/*Mixin for hide & show*/
header {
  background: #DAE2F8;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #DAE2F8, #D6A4A4);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #DAE2F8, #D6A4A4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  width: 100%;
  left: 0;
  height: 2.4em;
  z-index: 1000;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between; }
  header nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: flex-end;
    width: 70%; }
    header nav a {
      margin: 0.2em 3% 0 6%;
      font-weight: 600;
      color: #060E47;
      font-size: 1.2em;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      header nav a:hover {
        color: white;
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05); }
    @media (max-width: 464px) {
      header nav {
        display: none; } }

#title {
  margin: 0.2em 0 0 2.2%;
  font-size: 2em;
  color: #060E47;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  #title:hover {
    color: white; }

#header-triangle {
  position: fixed;
  border-color: white;
  top: 0;
  z-index: 100;
  left: -1em; }

footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  width: 100%;
  height: 2em;
  background: #060E47; }
  @media (max-width: 464px) {
    footer {
      position: fixed;
      bottom: 0; } }
  footer nav {
    display: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: space-around; }
    footer nav a {
      color: white; }
    @media (max-width: 464px) {
      footer nav {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex; } }

@media (max-width: 464px) {
  #copyright {
    margin-bottom: 3em; } }

.form-section {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  width: 90%;
  flex-wrap: wrap;
  margin-bottom: 3em; }
  @media (max-width: 1300px) {
    .form-section {
      width: 100%;
      justify-content: space-between; } }
  @media (max-width: 900px) {
    .form-section {
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between;
      -ms-flex-pack: space-between; } }
  @media (max-width: 785px) {
    .form-section {
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      width: 100vw; } }

.search-form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  height: auto;
  margin: 1em 0 2em 0;
  background: white;
  width: 20em;
  padding: 1em; }
  .search-form button {
    height: 2.5em;
    width: 30%;
    font-size: 1rem;
    color: white;
    background: #060E47;
    border: 0;
    margin: 0 0 0 0; }
  .search-form label {
    color: #060E47;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    margin-top: 0.8em; }
  .search-form input {
    background: white;
    border-style: dashed;
    border: 0.2em solid #060E47;
    width: 100%;
    height: 2rem;
    font-size: 1.2rem;
    color: #060E47; }
    .search-form input.year-input {
      width: 74%; }
  @media (max-width: 900px) {
    .search-form {
      width: 20em; } }
  @media (max-width: 464px) {
    .search-form {
      width: 90%;
      margin-top: 1em; } }

select {
  height: 2rem;
  width: 76%;
  border-radius: 0;
  border: none;
  background-color: #060E47;
  color: white;
  overflow: hidden !important;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0; }

.select-div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  height: 20em;
  width: 100%; }

.form-module {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start; }

.form-module.middle-module {
  width: 70%; }

.select-wrapper {
  width: 30.33%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.year-input {
  width: 20%; }

.search-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  width: 100%; }

.form-module.search-module {
  width: 100%; }

.hero-section.tours-section {
  background: url("../images/tours.jpg");
  background-size: contain;
  background-repeat: no-repeat; }

.tours-h2 {
  font-size: 4rem;
  color: red;
  background: white; }

.tours-h3 {
  font-size: 3rem;
  color: red;
  background: white; }

.list-wrapper.tours-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  flex-wrap: wrap; }
  @media (max-width: 1100px) {
    .list-wrapper.tours-wrapper {
      -webkit-justify-content: space-around;
      -moz-justify-content: space-around;
      -ms-justify-content: space-around;
      justify-content: space-around;
      -ms-flex-pack: space-around; } }
  @media (max-width: 785px) {
    .list-wrapper.tours-wrapper {
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }

.form-section.tours-section {
  border-color: transparent;
  height: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  flex-wrap: wrap; }

.tours-form button {
  width: auto; }

.tours-square {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  height: 26em;
  width: 26em;
  border-radius: 100%;
  margin: 1em;
  -webkit-transition: all 4s ease;
  -moz-transition: all 4s ease;
  -ms-transition: all 4s ease;
  -o-transition: all 4s ease;
  transition: all 4s ease;
  /*
  &:nth-child(1){
    & a {
      color:black;
    }
  }
  &:nth-child(2){
    & div {
      background-color: $secondary-color;
    }
  }
  &:nth-child(3){
    & div {
      background-color: white;
      & a {
        color:black;
      }
    }
  }
  &:nth-child(4){
    & div {
      background-color: $secondary-color;
    }
  }
  &:nth-child(5){
    & div {
      background-color: white;
      & a {
        color:black;
      }
    }
  }
  &:nth-child(6){
    & div {
      background-color: $secondary-color;

    }
  }  */ }
  @media (max-width: 1300px) {
    .tours-square {
      width: 20em;
      height: 20em; } }
  .tours-square a {
    color: black;
    font-size: 2em; }
  .tours-square img {
    height: 100%;
    width: 100%;
    margin: 0; }

.tour-name {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  text-align: center;
  width: 80%;
  margin: 60% 30% 0% 0;
  background: white;
  /* fallback for old browsers */ }
  .tour-name:hover {
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
    transform: scale(1.04); }
  .tour-name a {
    color: #060E47;
    font-weight: 600; }
  @media (max-width: 464px) {
    .tour-name {
      margin: 60% 10% 0 0; } }

.tours-h1 {
  margin: 2.5em;
  color: white; }
  @media (max-width: 464px) {
    .tours-h1 {
      margin: 2em 0 1em 0; } }

.tours-article {
  max-width: 30em;
  height: 20em;
  width: 20em;
  background: white;
  color: black;
  padding: 2em;
  border-radius: 100%;
  margin-bottom: 1em; }
  .tours-article p {
    margin-right: 3em; }
  @media (max-width: 785px) {
    .tours-article {
      margin-bottom: -8em; } }
  @media (max-width: 464px) {
    .tours-article {
      height: 18em;
      width: 18em; } }

#rembrandt {
  background-image: url("../images/rembrandt.jpg"); }

#selfportraits {
  background-image: url("../images/selfportraits.jpg"); }

#animals {
  background-image: url("../images/animals.jpg"); }

#murder {
  background-image: url("../images/murder.jpg"); }

#masterpieces {
  background-image: url("../images/sea.jpg"); }

#flower {
  background-image: url("../images/flower.jpg"); }

html {
  overflow-x: hidden; }

body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  /*
background: #085078; /* fallback for old browsers
  background: -webkit-linear-gradient(to left, #085078 , #85D8CE); /* Chrome 10-25, Safari 5.1-6 */
  background: #DAE2F8;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #DAE2F8, #D6A4A4);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #DAE2F8, #D6A4A4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }

a {
  text-decoration: none;
  font-family: 'Nothing You Could Do', cursive;
  letter-spacing: 0.09em;
  cursor: pointer;
  font-weight: 500; }

h1, h2, h3, #title {
  font-family: 'Nothing You Could Do', cursive;
  letter-spacing: 0.09em; }

p, label, h4 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.09em; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

main {
  width: 96%;
  height: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }

.hero-section {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  background: url("../images/bakgrund.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 860px;
  min-width: 70em;
  overflow: hidden;
  text-align: center; }
  @media (max-width: 1440px) {
    .hero-section {
      height: 40em; } }

.hero-img {
  width: 100%;
  height: auto;
  overflow-x: hidden; }

.list-wrapper {
  width: 99%;
  height: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }

.list-section {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  flex-flow: row wrap;
  width: 100%;
  background: white;
  padding-top: 1em; }
  @media (max-width: 1300px) {
    .list-section {
      width: 100%; } }

.main-figure {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  width: 50%;
  min-height: 100%;
  height: 100%;
  margin: 0em 4em;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  .main-figure img {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    /* forward prevents the animation from restarting! */
    -moz-animation-name: fade;
    -moz-animation-duration: 2s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: 1;
    -ms-animation-name: fade;
    -ms-animation-duration: 2s;
    -ms-animation-fill-mode: forwards;
    -ms-animation-iteration-count: 1;
    -o-animation-name: fade;
    -o-animation-duration: 2s;
    -o-animation-fill-mode: forwards;
    -o-animation-iteration-count: 1;
    animation-name: fade;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    opacity: 0;
    width: 100%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
    @media (max-width: 1300px) {
      .main-figure img {
        height: auto;
        width: 100%; } }
    @media (max-width: 785px) {
      .main-figure img {
        width: 80%; } }
    .main-figure img.tour-img {
      width: 100%; }
      @media (max-width: 1100px) {
        .main-figure img.tour-img {
          width: 100%; } }
  .main-figure.tours-figure {
    margin: 0; }
  @media (max-width: 1300px) {
    .main-figure {
      margin: 0; } }
  @media (max-width: 785px) {
    .main-figure {
      display: none;
      width: 100%;
      max-width: 33em;
      margin: 0; } }
  @media (max-width: 464px) {
    .main-figure {
      width: 100%; } }

.main-img {
  cursor: pointer;
  opacity: 0; }
  .main-img.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    /* forward prevents the animation from restarting! */
    -moz-animation-name: fade;
    -moz-animation-duration: 2s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: 1;
    -ms-animation-name: fade;
    -ms-animation-duration: 2s;
    -ms-animation-fill-mode: forwards;
    -ms-animation-iteration-count: 1;
    -o-animation-name: fade;
    -o-animation-duration: 2s;
    -o-animation-fill-mode: forwards;
    -o-animation-iteration-count: 1;
    animation-name: fade;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1; }
  @media (max-width: 785px) {
    .main-img.search-img {
      width: 20em; } }
  @media (max-width: 464px) {
    .main-img.search-img {
      width: 60vw;
      margin: 0; } }

.main-figure-text-container {
  margin-top: 0;
  height: auto;
  width: 80%;
  background: white; }
  .main-figure-text-container h2 {
    margin-left: 1em;
    opacity: 0;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    /* forward prevents the animation from restarting! */
    -moz-animation-name: fade;
    -moz-animation-duration: 1s;
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: 1;
    -ms-animation-name: fade;
    -ms-animation-duration: 1s;
    -ms-animation-fill-mode: forwards;
    -ms-animation-iteration-count: 1;
    -o-animation-name: fade;
    -o-animation-duration: 1s;
    -o-animation-fill-mode: forwards;
    -o-animation-iteration-count: 1;
    animation-name: fade;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    background: white; }
  .main-figure-text-container a {
    margin: 1em;
    color: black; }
  .main-figure-text-container p {
    margin-left: 1em; }

.tours-aside {
  width: 100%; }

.main-img-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  padding: 0;
  width: 100%;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  /* forward prevents the animation from restarting! */
  -moz-animation-name: fade;
  -moz-animation-duration: 2s;
  -moz-animation-fill-mode: forwards;
  -moz-animation-iteration-count: 1;
  -ms-animation-name: fade;
  -ms-animation-duration: 2s;
  -ms-animation-fill-mode: forwards;
  -ms-animation-iteration-count: 1;
  -o-animation-name: fade;
  -o-animation-duration: 2s;
  -o-animation-fill-mode: forwards;
  -o-animation-iteration-count: 1;
  animation-name: fade;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }
  .main-img-box img {
    width: 100%;
    margin: 0; }

.main-img-container {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }

.arrow-right {
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1.5em solid #060E47; }
  .arrow-right:active {
    border-left-color: white; }

.arrow-left {
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-right: 1.5em solid #060E47; }
  .arrow-left:active {
    border-right-color: white; }

.arrow-right, .arrow-left {
  width: 0;
  height: 0;
  cursor: pointer;
  margin: 1em;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  @media (max-width: 464px) {
    .arrow-right, .arrow-left {
      margin: 0; } }
  .arrow-right:hover, .arrow-left:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }

.landing-container {
  width: 90%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  word-wrap: break-word; }

.landing-h1 {
  opacity: 0;
  font-size: 3em;
  color: white;
  animation-delay: 1.6s;
  word-wrap: break-word;
  max-width: 90vw;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  /* forward prevents the animation from restarting! */
  -moz-animation-name: fade;
  -moz-animation-duration: 2s;
  -moz-animation-fill-mode: forwards;
  -moz-animation-iteration-count: 1;
  -ms-animation-name: fade;
  -ms-animation-duration: 2s;
  -ms-animation-fill-mode: forwards;
  -ms-animation-iteration-count: 1;
  -o-animation-name: fade;
  -o-animation-duration: 2s;
  -o-animation-fill-mode: forwards;
  -o-animation-iteration-count: 1;
  animation-name: fade;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease; }
  @media (max-width: 1440px) {
    .landing-h1 {
      font-size: 2.2em; } }
  @media (max-width: 1100px) {
    .landing-h1 {
      font-size: 1.5em; } }

.landing-h1.showroom-h1 {
  font-size: 6em;
  animation-delay: 1s;
  color: #060E47;
  color: -webkit-linear-gradient(to left, #085078, #85D8CE);
  color: linear-gradient(to left, #085078, #85D8CE);
  margin: -1em 0 0 0; }
  @media (max-width: 1100px) {
    .landing-h1.showroom-h1 {
      font-size: 4.5em; } }
  @media (max-width: 464px) {
    .landing-h1.showroom-h1 {
      font-size: 3.3em; } }

.landing-h1.browse-h1 {
  font-size: 2.2em;
  color: #060E47;
  animation-delay: 1.8s; }
  @media (max-width: 464px) {
    .landing-h1.browse-h1 {
      font-size: 1.3em;
      margin: 1em; } }

.list-figure {
  height: auto;
  width: 24%;
  background: white;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  /* forward prevents the animation from restarting! */
  -moz-animation-name: fade;
  -moz-animation-duration: 2s;
  -moz-animation-fill-mode: forwards;
  -moz-animation-iteration-count: 1;
  -ms-animation-name: fade;
  -ms-animation-duration: 2s;
  -ms-animation-fill-mode: forwards;
  -ms-animation-iteration-count: 1;
  -o-animation-name: fade;
  -o-animation-duration: 2s;
  -o-animation-fill-mode: forwards;
  -o-animation-iteration-count: 1;
  animation-name: fade;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0;
  cursor: pointer;
  padding-bottom: 1em; }
  .list-figure:hover {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03); }
  .list-figure.active {
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -ms-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
    z-index: 1000; }
  .list-figure h4 {
    font-size: 1.3em; }
  .list-figure h4 {
    font-style: italic;
    margin: 0.5em 0 0 0; }
  .list-figure img {
    height: auto;
    width: 100%;
    max-width: 100%;
    margin: 0em;
    background-size: contain; }
  .list-figure a {
    color: #060E47; }
  @media (max-width: 1440px) {
    .list-figure {
      width: 30%; } }
  @media (max-width: 1300px) {
    .list-figure {
      width: 30%;
      margin: 0; } }
  @media (max-width: 900px) {
    .list-figure {
      width: 48%; } }
  @media (max-width: 464px) {
    .list-figure {
      width: 100%; } }

.loading-img {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 3em;
  z-index: 1000; }
  .loading-img.active {
    visibility: visible; }

@-webkit-keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-ms-keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
    display: flex; }
  to {
    opacity: 0;
    display: none; } }
@-moz-keyframes fade-out {
  from {
    opacity: 1;
    display: flex; }
  to {
    opacity: 0;
    display: none; } }
@-ms-keyframes fade-out {
  from {
    opacity: 1;
    display: flex; }
  to {
    opacity: 0;
    display: none; } }
@-o-keyframes fade-out {
  from {
    opacity: 1;
    display: flex; }
  to {
    opacity: 0;
    display: none; } }
@keyframes fade-out {
  from {
    opacity: 1;
    display: flex; }
  to {
    opacity: 0;
    display: none; } }

/*# sourceMappingURL=main.css.map */
