.search-form {
  @include flexbox();
  @include flex-direction(row);
  @include align-items(flex-start);
  @include justify-content(center);
  height: auto;
  margin:0 0 0 0;
  background: $wall-grey;
  width: 100%;
  & button {
    height: 2em;
    width: 10em;
    font-size: 1.5em;
    color:$wall-grey;
    background: white;
    border:0;
    margin: 2.5em 0 0 0;
  }
  & label {
    color: white;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
  }

  & input {
    background: none;
    border-style: dashed;
    width: 100%;
    height: 2em;
    font-size: 1.5em;
    color:white;
    &:active{

    }
  };
}

select {
height: 3rem;
width: 50%;
border-radius: 0;
border:none;
background-color: white;
color:black;
overflow: hidden!important;
font-size: 1em;
font-family: 'Open Sans', sans-serif;
margin:0 0 2em 0;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
padding:0;
}

.select-div {
  @include flexbox();
  @include flex-direction(column);
  @include align-items(flex-start);
  @include justify-content(flex-start);
  height: 20em;
  width: 100%;
}

.form-module {
  width: 23.3333%;
  height: auto;
  @include flexbox();
  @include flex-direction(column);
  @include align-items(flex-start);
  @include justify-content(flex-start);
}

.form-module.middle-module {
  width: 70%;
  //@include align-items(center);
}

.select-wrapper {
  width: 30.33%;
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);

}
