
.form-section {
  position: relative;
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(center);
  @include align-items(flex-start);
  width: 98%;
  flex-wrap: wrap;
  //border:0.5em solid salmon;
  margin-bottom:3em;
}

.search-form {
  @include flexbox();
  @include flex-direction(column);
  @include align-items(flex-start);
  @include justify-content(space-between);
  //border:1em solid $wall-grey;
  height: auto;
  margin:1em 0 2em 0;
  background: white;
  width: 20%;
  padding: 1em;
  & button {
    height: 2em;
    width: 30%;
    font-size: 1.2rem;
    color:white;
    background: $wall-grey;
    border:0;
    margin: 0 0 0 0;
  }
  & label {
    color: $wall-grey;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    margin-top: 0.8em;
  }

  & input {
    background: none;
    border-style: dashed;
    width: 100%;
    height: 2rem;
    font-size: 1.2rem;
    color:$wall-grey;
    &.year-input {
      width: 100%;
    }
    &:active{

    }
  };
}

select {
height: 2rem;
width: 100%;
border-radius: 0;
border:none;
background-color: $wall-grey;
color:white;
overflow: hidden!important;
font-size: 1em;
font-family: 'Open Sans', sans-serif;
font-style:italic;
text-align: center;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
padding:0;
}

.select-div {
  @include flexbox();
  @include flex-direction(column);
  @include align-items(flex-start);
  @include justify-content(flex-start);
  height: 20em;
  width: 100%;
}

.form-module {
  width: 100%;
  height: auto;
  @include flexbox();
  @include flex-direction(column);
  @include align-items(flex-start);
  @include justify-content(flex-start);
}

.form-module.middle-module {
  width: 70%;
  //@include align-items(center);
}

.select-wrapper {
  width: 30.33%;
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);

}

.year-input {
  width: 100%;
}

.search-wrapper {
  @include flexbox();
  @include flex-direction(row);
  @include align-items(flex-end);
  @include justify-content(flex-start);
  width: 100%;
}

.form-module.search-module {
  width: 100%;
}
