header {
  background:white;
  position:fixed;
  width: 98%;
  height: 2.4em;
  z-index: 1000;
  @include flexbox();
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(space-between);


  & nav {
    @include flexbox();
    @include flex-direction(row);
    @include align-items(flex-end);
    @include justify-content(flex-end);
    width: 70%;
    & a {
      margin:0.2em 3% 0 6%;
      //margin-right: 3%;
      color:$wall-grey;
      font-size: 1.2em;
      //font-family: 'Open-Sans', sans-serif;
      //font-style: italic;
    }
  }
}

#title {
  margin: 0.2em 0 0 2.2%;
  font-size: 2em;

  color:$wall-grey;
}

#header-triangle{
  position:fixed;
  border-color: white;
  top:0;
  z-index:100;
  left:-1em;
}
