header {
  background: #DAE2F8; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #DAE2F8 , #D6A4A4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #DAE2F8 , #D6A4A4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position:absolute;
  width: 100%;
  left:0;
  height: 2.4em;
  z-index: 1000;
  @include flexbox();
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(space-between);


  & nav {
    @include flexbox();
    @include flex-direction(row);
    @include align-items(flex-end);
    @include justify-content(flex-end);
    width: 70%;
    & a {
      margin:0.2em 3% 0 6%;
      font-weight: 600;
      color:$wall-grey;
      font-size: 1.2em;
      @include transition(all 0.3s ease);

      &:hover {
        color:white;
        @include transform(scale(1.05));

      }
    }
    @include breakpoint(small){
      display: none;
    };
  }
}

#title {
  margin: 0.2em 0 0 2.2%;
  font-size: 2em;
  color:$wall-grey;
    @include transition(all 0.3s ease);
  &:hover {
    color:white;
  }
}

#header-triangle{
  position:fixed;
  border-color: white;
  top:0;
  z-index:100;
  left:-1em;
}

footer {
  position:fixed;
  bottom: 0;
  left: 0;
  z-index:1000;
  @include flexbox();
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(space-between);
  width: 100%;
  height: 2em;
  background:$wall-grey;
  @include breakpoint(small){
    position:fixed;
    bottom:0;

  };
  & nav {

    display: none;
    @include flexbox();
    width: 100%;
    & a {
      @include transition(all 0.3s ease);
      font-size: 1.3em;
      &:hover {
        color:#DAE2F8;
        @include transform(scale(1.2));

      }
      color:white;
    }
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(space-around);
    @include breakpoint(small){
    @include flexbox();
    };
  }
  &.about {
    position:absolute;
    bottom: 0;
    left: 0;
  }
}

#copyright {
  margin-bottom: 3em;
  font-size: 0.9em;

}

.index-ball {
  width: 0;
  height: 0;
  border-left: 0.8em solid transparent;
  border-right: 0.8em solid transparent;

  border-bottom: 1.2em solid white;
  position: fixed;
  bottom: 0.4em;
  right:3%;
  @include transition(all 0.5s ease);
  &:active{
    @include transform(translate(0,-2em));
  }
  &:hover{
    @include transform(scale(1.2));
  }
  @include breakpoint(small){
    bottom:auto;
    top:1rem;
    border-bottom: 1.2em solid $secondary-color;
  };
}
