header {
  background:white;
  position:fixed;
  width: 100%;
  left:0;
  height: 2.4em;
  z-index: 1000;
  @include flexbox();
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(space-between);


  & nav {
    @include flexbox();
    @include flex-direction(row);
    @include align-items(flex-end);
    @include justify-content(flex-end);
    width: 70%;
    & a {
      margin:0.2em 3% 0 6%;
      //margin-right: 3%;
      color:$wall-grey;
      font-size: 1.2em;
      @include transition(all 0.3s ease);

      &:hover {
        color:$secondary-color;
        @include transform(scale(1.05));

      }
    }
    @include breakpoint(small){
      display: none;
    };
  }
}

#title {
  margin: 0.2em 0 0 2.2%;
  font-size: 2em;
  color:$wall-grey;
    @include transition(all 0.3s ease);
  &:hover {
    color:$secondary-color;
  }
}

#header-triangle{
  position:fixed;
  border-color: white;
  top:0;
  z-index:100;
  left:-1em;
}

footer {
  @include flexbox();
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(space-between);
  width: 100%;
  height: 2em;
  background:$wall-grey;
  @include breakpoint(small){
    position:fixed;
    bottom:0;

  };
  & nav {

    display: none;
    @include flexbox();
    width: 100%;
    & a {
      color:white;
    }
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(space-around);
    @include breakpoint(small){
    @include flexbox();
    };
  }
}

#copyright {
  @include breakpoint(small){
    margin-bottom: 3em;
  };

}
