.hero-section.tours-section {
  background:url('../images/tours.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

.tours-h2 {
  font-size: 4rem;
  color:red;
  background: white;
}

.tours-h3 {
  font-size: 3rem;
  color:red;
  background: white;
}

.list-wrapper.tours-wrapper {
  width: 100%;
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(space-between);
  @include align-items(flex-start);
  flex-wrap:wrap;
  @include breakpoint(large){
    @include justify-content(space-around);
  };
  @include breakpoint(smedium){
    @include align-items(center);
    @include flex-direction(column);
  };
}

.form-section.tours-section {
  border-color: transparent;
  height: auto;
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(flex-start);
  @include align-items(flex-start);
  flex-wrap: wrap;

}

.tours-form{
  & button {
    width: auto;
  }
}

.tours-square {
  position: relative;
  @include flexbox();
  @include justify-content(center);
  @include flex-direction(column);
  @include align-items(center);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  height: 26em;
  width: 26em;
  border-radius: 100%;
  margin:0 0 3% 0;
  @include breakpoint(xlarge){
    width: 20em;
    height: 20em;
  };

  @include transition(all 4s ease);
  & a {
    color:black;
    font-size:2em;
  }

  & img {

    height: 100%;
    width: 100%;
    margin:0;
  }
  &:nth-child(1){
    & a {
      color:black;
    }
  }
  &:nth-child(2){
    & div {
      background-color: $secondary-color;
    }
  }
  &:nth-child(3){
    & div {
      background-color: yellow;
      & a {
        color:black;
      }
    }
  }
  &:nth-child(4){
    & div {
      background-color: $secondary-color;
    }
  }
  &:nth-child(5){
    & div {
      background-color: yellow;
      & a {
        color:black;
      }
    }
  }
  &:nth-child(6){
    & div {
      background-color: $secondary-color;

    }
  }
}

.tour-name {
  @include flexbox();
  @include justify-content(center);
  @include flex-direction(column);
  @include align-items(center);
  text-align: center;
  width: 80%;
  margin: 60% 30% 0% 0;
  background:yellow;
  @include transition(all 0.4s ease);
  &:hover {
    @include transform(scale(1.04));
  }

  & a {
    color:white;
  }

  @include breakpoint(small){
      margin:60% 10% 0 0;
  };
}
.tours-h1 {
  margin: 2.5em;
  background:yellow;
  @include breakpoint(small){
    margin:2em 0 1em 0 ;
  }
}

.tours-article {
  max-width: 30em;
  height: 20em;
  width: 20em;
  background: yellow;
  color:black;
  padding:2em;
  border-radius: 100%;
  margin-bottom: 1em;

  & p {
    margin-right: 3em;
  }
  & h2 {

  }
  @include breakpoint(small){
    height: 18em;
    width: 18em;
  };
}

#rembrandt{
  background-image: url('../images/rembrandt.jpg');
}
#selfportraits {
  background-image: url('../images/selfportraits.jpg');
}
#animals {
  background-image: url('../images/animals.jpg');
}
#murder {
  background-image: url('../images/murder.jpg');
}
#masterpieces {
  background-image: url('../images/sea.jpg');
}

#flower{
  background-image: url('../images/flower.jpg');
}
