@import "varmix";
@import "header";
@import "forms";
@import "tours";
html {
  overflow-x: hidden;
}
body {
  width: 100%;
  overflow-x: hidden;
  margin:0;
  padding: 0;
  background:white;
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);
}

a {
  text-decoration: none;
  font-family: 'Nothing You Could Do', cursive;
    letter-spacing: 0.09em;
}

h1,h2,h3,#title,{
  font-family: 'Nothing You Could Do', cursive;
  letter-spacing: 0.09em;
}

p,label,h4  {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.09em;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

main {
  width: 96%;
  height: auto;
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);
}

.hero-section {
  @include flexbox();
  @include justify-content(center);
  @include flex-direction(column);
  @include align-items(center);
  //border:1px solid red;
  background: url('../images/bakgrund.jpg');
  background-size:  cover;
  background-repeat: no-repeat;
  width: 100%;
  height:860px;
  min-width: 70em;
  overflow: hidden;
  text-align: center;
  @include breakpoint(xxlarge){
    height: 40em;
  };
}

.hero-img {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

.list-wrapper {
  width: 99%;
  height: auto;
  //background:blue;
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(flex-start);
  @include align-items(center);
  //border: 0.5em solid $wall-grey;

  min-height: 20em;

}

.list-section {
  position: relative;
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(space-between);
  @include align-items(flex-start);
  flex-wrap: wrap;
  width: 90%;
  background: white;
  padding-top: 1em;
  @include breakpoint(xlarge){
    width: 100%;
  };


}

.main-figure {
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(space-between);
  @include align-items(flex-start);
  width: 40%;
  //border: 1em solid white;
  min-height: 100%;
  height: 100%;
  margin:5em 4em;
  @include transition(all 1s ease);

  & img {
    @include animation(fade,2s,forwards,1);
    opacity: 0;
    width: 80%;
    //margin:0 0 0 1em;
    @include transition(all 1s ease);
    &.tour-img {
          width: 100%;
      @include breakpoint(large){
          width: 100%;
      };
    }
  }

  &.tours-figure {
    margin:0 0 0 4em;
  }
  @include breakpoint(xxlarge){
  //  width: 30%;
  };
  @include breakpoint(xlarge){
  //  width: 30%;
    margin:0;
  };

  @include breakpoint(medium){
    width: 48%;
  };

  @include breakpoint(small){
    width: 100%;
  };
}

.main-img {
  cursor: pointer;
  opacity: 0;
  &.fade {
    @include animation(fade,2s,forwards,1);
  }
  &.search-img {
    @include breakpoint(smedium){
      width: 20em;
    };
    @include breakpoint(xsmall){
      width: 80%;
    };

  }
}


.main-figure-text-container {

  margin-top: 2em;
  height: auto;
  width: 100%;
  & h2 {
    opacity: 0;
    @include animation(fade,1s,forwards,1);
    background: yellow;
  }
  & a {
    color:black;
  }
}
.tours-aside {
  width:33%;
}

.main-img-box {
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(flex-end);
  @include align-items(flex-start);
  padding: 0;
  width: 100%;
  @include animation(fade,2s,forwards,1);
  @include transition(all 0.6s ease);
  & img {
    width: 100%;
    margin: 0;
  }
}

.arrow-right {
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1.5em solid $wall-grey;
  &:active {
    border-left-color: white;
  }
}

.arrow-left {
  border-top:  1.5em solid transparent;
  border-bottom:  1.5em solid transparent;
  border-right: 1.5em solid $wall-grey;

  &:active {
    border-right-color: white;
  }
}

.arrow-right, .arrow-left {
  width: 0;
  height: 0;
  cursor: pointer;
  @include transition(all 0.4s ease);
  &:hover{
    @include transform(scale(1.2));
  }
}

.landing-container {
  width: 90%;
  @include flexbox();
  @include justify-content(center);
  word-wrap: break-word;
}

.landing-h1 {
  opacity: 0;
  font-size: 3em;
  color:white;
  animation-delay: 1.6s;
  word-wrap: break-word;
  max-width: 90vw;
  @include animation(fade,2s,forwards,1);
  @include transition(all 2s ease);
  @include breakpoint(xxlarge){
    font-size: 2.2em;
  };
  @include breakpoint(large){
    font-size: 1.5em;
  };

}
.landing-h1.showroom-h1 {
  font-size: 6em;
  animation-delay: 1s;
  color:$secondary-color;
  margin:-1em 0 0 0;

  @include breakpoint(large){
    font-size: 4.5em;
  };
  @include breakpoint(small){
    font-size: 3.3em;
  };
}

.landing-h1.browse-h1{
  font-size: 2.2em;
  color: $wall-grey;
  animation-delay: 1.8s;
  @include breakpoint(small){
    font-size:1.3em;
    margin-bottom: 1.8em;
  };

}

.list-figure {
  height: auto;
  width: 24%;
  background:white;
  @include animation(fade,2s,forwards,1);
  @include transition(all 0.4s ease);
  opacity: 0;
  cursor: pointer;
  padding-bottom:1em;
  &:hover {
    @include transform(scale(1.03));
  }
  &.active {
    //border:0.5em solid black;
    @include transform(scale(1.6));
    z-index: 1000;
  }
  & h4 {
    font-size:1.3em;
    //margin: 1em;
  }
  & h4 {
    font-style: italic;
    margin:0.5em 0 0 0;
  }

  & img {
    height: auto;
    width: 100%;
    max-width: 100%;
    margin:0em;
    background-size: contain;
  }
  & a {color:black;}

  @include breakpoint(xxlarge){
    width: 30%;
  };
  @include breakpoint(xlarge){
    width: 30%;
    margin:0;
  };

  @include breakpoint(medium){
    width: 48%;
  };

  @include breakpoint(small){
    width: 100%;
  };

}

.loading-img {
  visibility: hidden;
  position: fixed;
  top:50%;
  left:50%;
  height: 3em;
  z-index: 1000;
  &.active {
    visibility: visible;
  }
}




//animation for about.
@include keyframe (fade) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@include keyframe (fade-out) {
  from {
    opacity: 1;
    display: flex;
  }
  to {
    opacity: 0;
    display:none;
  }
}
