@import "varmix";
@import "header";
@import "forms";
@import "tours";
@import "animations";

html {
  overflow-x: hidden;
}
body {
  width: 100%;
  overflow-x: hidden;
  margin:0;
  padding: 0;
  /*
background: #085078; /* fallback for old browsers
  background: -webkit-linear-gradient(to left, #085078 , #85D8CE); /* Chrome 10-25, Safari 5.1-6 */
  background: #DAE2F8; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #DAE2F8 , #D6A4A4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #DAE2F8 , #D6A4A4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);
}

a {
  text-decoration: none;
  font-family: 'Nothing You Could Do', cursive;
  letter-spacing: 0.09em;
  cursor:pointer;
  font-weight: 500;
}

h1,h2,h3,#title,{
  font-family: 'Nothing You Could Do', cursive;
  letter-spacing: 0.09em;
}

p,label,h4  {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.09em;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

main {
  width: 96%;
  height: auto;
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);
}

.hero-section {
  position: relative;
  @include flexbox();
  @include justify-content(center);
  @include flex-direction(column);
  @include align-items(center);
  //border:1px solid red;
  background: url('../images/bakgrund.jpg');
  background-size:  cover;
  background-repeat: no-repeat;
  width: 100%;
  height:830px;
  min-width: 70em;
  overflow: hidden;
  text-align: center;
  @include breakpoint(xxlarge){
    height: 40em;
  };
}

.hero-img {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

.list-wrapper {
  width: 100%;
  height: auto;
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(flex-start);
  @include align-items(center);


}

.list-section {
  position: relative;
  @include flexbox();
  //@include flex-direction(row);
  @include justify-content(space-between);
  @include align-items(flex-start);
  flex-flow: row wrap;
  min-height: 15em;
  width: 100%;
  background: #DAE2F8; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #DAE2F8 , #D6A4A4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #DAE2F8 , #D6A4A4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-top: 1em;
  @include breakpoint(xlarge){
    width: 100%;
  };
}

.main-figure {
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(space-between);
  @include align-items(flex-start);
  width: 50%;
  //border: 1em solid white;
  min-height: 100%;
  height: 100%;
  margin:0em 4em;
  @include transition(all 1s ease);

  & img {

    @include animation(fade,2s,forwards,1);
    opacity: 0;
    width: 100%;
    &.tour-img {

    }
    @include breakpoint(xlarge){
      height: auto;
      width: 100%;
    };
    @include breakpoint(smedium){
      width: 80%;
    };

    //margin:0 0 0 1em;
    @include transition(all 1s ease);
    &.tour-img {
          width: 100%;
      @include breakpoint(large){
          width: 100%;
      };
    }
  }

  &.tours-figure {
    margin:0;
  }
  @include breakpoint(xxlarge){
  //  width: 30%;
  };
  @include breakpoint(xlarge){
  //  width: 30%;
    margin:0;
  };

  @include breakpoint(smedium){
    display: none;
    width: 100%;
    max-width: 33em;
    margin: 0;
  };

  @include breakpoint(small){
    width: 100%;
  };
}

.main-img {
  cursor: pointer;
  opacity: 0;
  &.fade {
    @include animation(fade,2s,forwards,1);
  }
  &.search-img {
    @include breakpoint(smedium){
      width: 20em;
    };
    @include breakpoint(small){
      width: 60vw;
      margin:0;
    };


  }
}


.main-figure-text-container {
  margin-top: 0 ;
  height: auto;
  width: 80%;
  background: white;


  & h2 {
    margin-left: 1em;
    opacity: 0;
    @include animation(fade,1s,forwards,1);
    background: white;
  }
  & a {
    margin: 1em;
    color:black;
  }
  & p {
    margin-left: 1em;
  }
}
.tours-aside {
  width:100%;
}

.main-img-box {
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(flex-end);
  @include align-items(flex-start);
  padding: 0;
  width: 100%;
  @include animation(fade,2s,forwards,1);
  @include transition(all 0.6s ease);
  & img {
    width: 100%;
    margin: 0;
  }
}

.main-img-container {
  width: 100%;
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
}

.arrow-right {
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1.5em solid $wall-grey;
  &:active {
    border-left-color: white;
  }
}

.arrow-left {
  border-top:  1.5em solid transparent;
  border-bottom:  1.5em solid transparent;
  border-right: 1.5em solid $wall-grey;

  &:active {
    border-right-color: white;
  }
}

.arrow-right, .arrow-left {
  width: 0;
  height: 0;
  cursor: pointer;
  margin:1em;
  @include transition(all 0.4s ease);
  @include breakpoint(small){
    margin:0;
  };
  &:hover{
    @include transform(scale(1.2));
  }
}

.landing-container {
  width: 90%;
  @include flexbox();
  @include justify-content(center);
  word-wrap: break-word;
}

.landing-h1 {
  opacity: 0;
  font-size: 3em;
  color:white;
  animation-delay: 1.6s;
  word-wrap: break-word;
  max-width: 90vw;
  //@include animation(hero-fade,2s,forwards,1);
  @include animation(fade,2s,forwards,1);
  @include transition(all 2s ease);
  @include breakpoint(xxlarge){
    font-size: 2.2em;
  };
  @include breakpoint(large){
    font-size: 1.5em;
  };
}

.landing-h1.showroom-h1 {
  @include animation(hero-fade,2s,forwards,1);
  font-size: 6em;
  animation-delay: 1s;
  color:$secondary-color;
  color:-webkit-linear-gradient(to left, #085078 , #85D8CE);
  color:linear-gradient(to left, #085078 , #85D8CE);
  margin:-1em 0 0 0;

  @include breakpoint(large){
    font-size: 4.5em;
  };
  @include breakpoint(small){
    font-size: 3.1em;
  };
}

.landing-h1.browse-h1{
  margin:1.5rem;
  font-weight: 600;
  font-size: 2.2em;
  color:$wall-grey;
  animation-delay: 1.8s;
  @include transition(all 0.4s ease);
  &:hover{
    @include transform(scale(1.1));
  }
  @include breakpoint(small){
    font-size:1.3em;
    margin: 1em;
  };
  &.last{
    margin-top:2em;
  }
}

.list-figure {
  height: auto;
  width: 24%;
  background:white;
  @include animation(fade,2s,forwards,1);
  @include transition(all 0.4s ease);
  opacity: 0;
  cursor: pointer;
  padding-bottom:1em;
  &:hover {
    @include transform(scale(1.03));
  }
  &.active {
    //border:0.5em solid black;
    @include transform(scale(1.6));
    z-index: 1000;
  }
  & h4 {
    font-size:1.3em;
    //margin: 1em;
  }
  & h4 {
    font-style: italic;
    margin:0.5em 0 0 0;
  }

  & img {
    height: auto;
    width: 100%;
    max-width: 100%;
    margin:0em;
    background-size: contain;
  }
  & a {color:$secondary-color;}

  @include breakpoint(xxlarge){
    width: 30%;
  };
  @include breakpoint(xlarge){
    width: 30%;
    margin:0;
  };

  @include breakpoint(medium){
    width: 48%;
  };

  @include breakpoint(small){
    width: 100%;
  };

}

.loading-img {
  visibility: hidden;
  position: fixed;
  top:50%;
  left:50%;
  height: 3em;
  z-index: 1000;
  &.active {
    visibility: visible;
  }
}
